*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
}

.App {
  margin: 0;
  padding: 1rem;
}

.App nav li {
  list-style: none;
  font-weight: 700;
}

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10rem;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2rem;
  gap: 2rem;
}

.tasklists-buttons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.task-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.individual-task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  text-decoration: none;
  border: 0.1rem solid;
  padding: 1rem;
}

.individual-task ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.close-icon {
  align-self: flex-end;
}

.tasklist-header {
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.tasklist-icons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.export-json-button {
  align-self: flex-end;
  margin-top: 3rem;
}
